.bar_wrap_base, .bar_for_hp_wrap {
  font-family: Open Sans, Arial;
  font-size: 15px;
  line-height: 15px;
  width: 100%;
  float: left;
  width: 200px; }

.bar_body_base, .bar_for_hp_body {
  width: 100%;
  float: left;
  height: 20px;
  background-color: #23eb77; }

.bar_name_and_value_wrap_base, .bar_for_hp_name_and_value_wrap {
  width: 98.5%;
  float: left;
  text-align: right;
  margin-top: 5px; }

.bar_name_text_base, .bar_for_hp_name_text {
  color: white;
  background-color: #23eb77;
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  padding-right: 5px; }

.bar_value_base, .bar_for_hp_value_text {
  color: #23eb77;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  font-weight: bold; }

.bar_indicator_base, .bar_for_hp_indicator {
  width: 1.5%;
  height: 25px;
  background-color: #23eb77;
  display: inline-block;
  float: right; }
