$menu_font_size : 15px;
$menu_line_height : 15px;
$menu_blue: rgb( 28, 43, 62 );
$menu_blue_light : rgb( 41, 152, 207 );
$menu_blue_darker: rgb( 24, 40, 56 );
$menu_text: rgb( 132, 139, 147 );
$menu_avatar_size:$unit*15;
$menu_width:$menu_avatar_size*3.5;