.menu_profile {
	width: 100%;
	float: left;
	border-bottom: $unit solid $menu_blue_darker;
	padding-top: $unit*5;
	padding-bottom: $unit*6;
}

.menu_profile_winrate { 
	height: $menu_avatar_size;
}

.menu_profile_winrate_inner {
	float: left;
	position: absolute;
	left: (( $menu_width/2 )/4)*3;
}

@include avatar-winrate( 
	menu_profile_winrate, 
	$menu_avatar_size, 
	$unit,
	$menu_blue,
	$menu_blue_light,
	$winrate_lose
);

.menu_profile_name {
	width: 100%;
	text-align: center;
	float: left;
	margin-top: $unit*2;
}