.button { 
	color   : $blue;
	padding : 5px;
	border  : 1px solid $blue;
	display : block;
	margin  : 0 auto;
	width   : 155px;
	cursor  : pointer;
	&:hover { 
		background-color: $blue;
		color           : $light;
	}
}