*, *:before, *:after {
	-moz-box-sizing    : border-box; 
	-webkit-box-sizing : border-box; 
	box-sizing         : border-box;
}

body { 
	background  : #808080;
	color       : #fff;
	font-family : Arial;
	line-height : 18px;
	font-size   : 15px;
	margin      : 0;
}

.hero_main { 
	width: 100%;
	float: left;
}

.hero_view { 
	width: 100%;
	float: left;	
}

.hero_view_navigation {
	width   : 100%;
	padding : 15px 5% 30px;
	float   : left;
}

.hero_select {
	float          : right;
	display        : inline-block;
	padding        : 5px 15px;
	border         : none;
	background     : #fff;
	font-weight    : bold;
	text-transform : uppercase;
	color          : #808080;
	border-radius  : 5px;
	text-align     : center;
	cursor         : pointer;
}

.hero_wrap {
	width: 100%;
	float: left;
}

.hero_stats {
	float   : left;
	display : inline-block;
	width   : 70%;
	height  : 200px;
}

.hero_details { 
	width: 70%;
	float: left;
	display: inline-block;
}

.hero {
	height     : 200px;
	float      : left;
	display    : inline-block;
	width      : 30%;
	text-align : center;
}

.hero_name {
	font-size : 20px;
	margin-bottom: 5px;
}

.hero_class {
	margin-bottom: 10px;
}

.hero_quote {
	margin-bottom : 25px;
	font-style    : italic;
}

.hero_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 250px;
}

.hero_story {
	width      : 70%;
	margin     : 0 15%;
	font-size  : 13px;
	font-style : italic;
}

.hero_attributes {
	width      : 94%;
	padding    : 20px 3%;
	float      : left;
}

.hero_attribute_wrap {

	display    : inline-block;
	float      : left;
	width      : 25%;
	text-align : center;
}

.hero_attribute_title {
	font-weight   : bold;
}

.hero_attribute_side_title {
	font-weight : bold;
	margin-top  : 15px;
}

.hero_attribute_field {
	margin-top : 15px;
}

.hero_buttons { 
	width   : 100%;
	padding : 10px 5%;
	margin-bottom: 30px;
	float   : left;
	text-align: center;
}

.hero_button { 
	margin-right   : 15px;
	padding        : 5px 15px;
	background     : #fff;
	color          : #808080;
	display        : inline-block;
	font-weight    : bold;
	border-radius  : 5px;
	text-transform : uppercase;
	cursor         : pointer;
	font-size      : 13px;
}

.hero_button:hover { 
	background : #21a76a;
	/*color : #e5e5e5;*/
	color : #fff;
}

.hero_spells {
	width: 100%;
	padding : 10px 5%;
	float: left;
}

.hero_spell {
	width         : 100%;
	float         : left;
	display       : inline-block;
	margin-bottom : 20px;
}

.hero_spell_icon_wrap { 
	width: 15%;
	display: inline-block;
	float: left;
}

.hero_spell_icon {
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	width        : 100%;
	max-width    : 90px;
}

.hero_spell_details {
	width: 75%;
	float: left;
	display: inline-block;
	margin-top: 31px;
}

.hero_spell_name {
	font-size : 17px;
	margin-bottom: 15px;
	text-align: center;
	font-weight: bold;
}

.hero_spell_stats {
	width: 50%;
	float: left;
}

.hero_spell_stat {
	width         : 100%;
	float         : left;
	display       : inline-block;
	margin-bottom : 10px;
}

.hero_spell_stat_name {
	float: left;
	display: inline-block;	
}

.hero_spell_stat_value {
	font-weight: bold;
	display: inline-block;
	float: left;
	margin-left: 5px;
}

.hero_spell_description { 
	width: 50%;
	float: left;
	display: inline-block;
}

.hero_spell_story { 
	width: 100%;
	float: left;
	margin-bottom: 31px;
}

.hero_spell_notes {
	width      : 100%;
	padding    : 15px;
	float      : left;
	background : #21a76a;
	font-style: italic;
	border-radius : 5px;
}